.Meal {
  display: flex;
  padding: 14rem;
  padding-left: 0;
  border-bottom: 0.4px #cacaca solid;
  margin-bottom: 8rem;
}
.ImgBox {
  width: 150rem;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
img {
  width: 85%;
  height: 100rem;
}
.Content {
  width: 225rem;
  display: flex;
  flex-direction: column;
}
.Text {
  height: 60rem;
  overflow: hidden;
}
.Title {
  font-weight: normal;
  font-size: 16rem;
  margin: 0;
}
p {
  margin: 0;
  color: dimgray;
  padding-right: 8rem;
}
.PriceWrap {
  flex: auto;
  display: flex;
  margin-top: 12rem;
  justify-content: space-between;
  align-items: center;
  padding-right: 6rem;
}
.Price {
  font-size: 17rem;
  font-weight: bold;
}
.Price::before {
  font-size: 11rem;
  content: "￥";
  font-weight: bold;
}
