.ConfirmOuter {
  z-index: 1200;
}
.Confirm {
  width: 300rem;
  height: 150rem;
  background-color: white;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  border-radius: 20rem;
  padding: 10rem;
  display: flex;
  flex-flow: column;
  justify-content: space-evenly;
  align-items: center;
  font-size: 16rem;
}
p{
  color: black;
  padding: 0;
}
.ButtonBox button {
  width: 100rem;
  height: 30rem;
  border-radius: 40rem;
  font-size: 14rem;
  background-color: white;
}
.ButtonBox .Ok {
  border: none;
  background-color: rgb(238, 163, 23);
  margin-left: 20rem;
}
